* {
  box-sizing: border-box;
}
body {
  background-color: #000;
}

.hero {
  background-image: url("../image/banner-initial.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text-header {
  font-size: 4rem !important;
}

.btn-color {
  background-color: #e50914;
  padding: 20px 30px;
  font-weight: 700;
  font-size: 1.5rem;
  width: 200px;
}

.btn-color:hover {
  background-color: #901017;
}

.accordion-button {
  background-color: #303030 !important;
  color: #ffffff !important;
}

.accordion-item {
  border: 5px solid black;
}

.accordion-button::after {
  background-image: url(../image/add.svg) !important;
}

a {
  text-decoration: none;
  color: #303030;
}

.accordion-flush .accordion-collapse {
  border-width: 0;
}

/* CSS da página 2 */

.img-background {
  background: url(../image/growcast-01.png) center top/cover no-repeat;
  min-height: 720px;
}

.display-text {
  align-items: flex-end;
  min-height: 680px;
}

.col-movie {
  /* cursor: pointer; */
  transition: all 0.5s ease-out;
}

.col-movie:hover {
  transform: scale(1.1);
}

.link-growcast:hover {
  color: orange !important;
}
.video-name {
  display: none;
  background: black;
  padding: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.video-card:hover .video-name {
  display: block;
}
